.maine {
    display: flex;
    justify-content: center;
    align-self: center;

}


.maine {
    border: 7px solid rgb(0, 0, 0);
    width: 1000px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: radial-gradient(circle at center,
            rgb(247, 199, 9),
            blueviolet,
            blue,
            violet,
            skyblue,
            white);
    padding-top: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.main {
    border: 10px double rgb(3, 231, 3);
    width: 300px;
    color: rgb(0, 0, 0);
    font-family: "Courier New", Courier, monospace;
    text-shadow: 8px 8px 9px rgb(255, 255, 255);
    position: relative;
}

.you {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 25px;
}